###############################################################################
# Executables
###############################################################################

rt-linux-ai
*.out
*.exe

###############################################################################
# Test executables
###############################################################################

tests/test_network
tests/test_gpio
tests/test_image_proc
tests/test_pipeline
debug_output/

###############################################################################
# Object files
###############################################################################

*.o
*.a
*.so

###############################################################################
# Images generated during execution
###############################################################################

images/*.jpg
images/*.jpeg
images/*.png

###############################################################################
# Images for test
###############################################################################

datasets/test_data/input/*.txt
datasets/test_data/output/*.txt

# Mantener la estructura
!datasets/test_data/input/.gitkeep
!datasets/test_data/output/.gitkeep

###############################################################################
# Logs
###############################################################################

*.log
log/*.csv

###############################################################################
# Editors
###############################################################################

.vscode/
*.swp
*~

###############################################################################
# Operating System
###############################################################################

.DS_Store