###############################################################################
# Executables
###############################################################################

rt-linux-ai
*.out
*.exe

###############################################################################
# Object files
###############################################################################

*.o
*.a
*.so

###############################################################################
# Images generated during execution
###############################################################################

images/*.jpg
images/*.jpeg
images/*.png

###############################################################################
# Logs
###############################################################################

*.log

###############################################################################
# Editors
###############################################################################

.vscode/
*.swp
*~

###############################################################################
# Operating System
###############################################################################

.DS_Store